body {
    background-color: rgba(0, 0, 0, 0.795);
    margin: auto;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}