@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {

}

html, body {
    min-height: 100vh; /*Altura mínima*/
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; Letras maiúsculas*/
    font-variant: small-caps; /*Letras minúsculas com formato de letra maiúscula*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh; /*Altura da seção*/
    padding-bottom: 10vh; /*Altura da seção*/
    line-height: 2em; /*Altura da linha*/
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.123);
    width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}